*, *:before, *:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

img
	-ms-interpolation-mode: bicubic

html
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	width: 100%
	min-height: 100vh
	color: $font-color
	font-size: 15px
	font-weight: 400
	line-height: 1.25em
	-webkit-overflow-scrolling: touch
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility

@mixin defaultContainer()
	max-width: $breakpoint-desktop
	margin: 0 auto
	width: 100%
	padding: 0 15px
	@media (min-width: $breakpoint-tablet)
		padding: 0 15px
	@media (min-width: $breakpoint-desktop)
		padding: 0

@mixin displayFlex()
	display: flex
	display: -ms-flexbox

@mixin flexAlignCenter()
	align-items: center
	-webkit-align-items: center
	-ms-flex-align: center

@mixin flexAlignStart()
	align-items: flex-start
	-webkit-align-items: flex-start
	-ms-flex-align: flex-start

@mixin flexAlignEnd()
	align-items: flex-end
	-webkit-align-items: flex-end
	-ms-flex-align: flex-end

@mixin flexJustifyCenter()
	justify-content: center
	-webkit-justify-content: center
	-ms-flex-pack: center

@mixin flexJustifyStart()
	justify-content: flex-start
	-webkit-justify-content: flex-start
	-ms-flex-pack: flex-start

@mixin flexJustifyEnd()
	justify-content: flex-end
	-webkit-justify-content: flex-end
	-ms-flex-pack: flex-end

@mixin flexJustifyBetween()
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-flex-pack: space-between
	-webkit-box-pack: justify
	//-ms-flex-pack: justify

@mixin flexWrap()
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
	-ms-flex-wrap : wrap

@mixin flexNoWrap()
	flex-wrap: nowrap
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: none

@mixin sectionMargin()
	margin-bottom: 30px
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px
	@media (min-width: $breakpoint-desktop)
		margin-bottom: 115px

@mixin defaultBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.6)

@mixin lightBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.23)

@mixin marginForNavigation()
	padding-top: 100px!important

@mixin pageWrapper()
	margin-bottom: 30px!important
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px!important

.tbnt-default-container
	@include defaultContainer()

.tbnt-margin-for-navigation
	@include marginForNavigation()

.tbnt-is-overflow-hidden
	overflow: hidden !important

.tbnt-is-background-white
	background-color: $white

.tbnt-opacity-0
	opacity: 0

.tbnt-opacity-50
	opacity: 0.5

.tbnt-opacity-100
	opacity: 1
