.contact

	&--about
		z-index: 20
		@extend .wrapper
		max-width: 800px
		@media(min-width: $breakpoint-fluid)
			max-width: 1160px

		h2
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 75%
		@media(max-width: $breakpoint-mobile)
			h2
				font-size: 16px
				line-height: 20px
				width: 80%

	&--form
		margin-top: 40px
		margin-bottom: 120px
		@media(max-width: $breakpoint-mobile)
			margin-top: -40px


		.link-cta.submit.send
			&:after
				content: ''
				background: url(../../images/icons/grey/load.svg) center center no-repeat, $white
				width: 110%
				height: 500%
				position: absolute
				top: -200%
				left: -5%
				z-index: 999
				background-size: 30px
				animation: rotate .75s linear infinite



	&--module
		background-color: $white
		&:before
			display: none
		.tomaps
			width: 100%
			height: 100%
		.map
			height: 100%
			width: 100%
			position: relative
			div
				height: 115% !important
			&:after
				content: ''
				display: block
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				width: 96px
				height: 43px
				background-image: url(../../images/logo/logo.svg)
				background-position: center
				background-size: contain
				background-repeat: no-repeat
				mix-blend-mode: darken


		.process--item:not(.contact--infos)
			border: none
			&:hover
				box-shadow: inherit
				z-index: 0


		.process--item.contact--infos
			text-align: left
			border: none
			padding: 0 40px
			box-shadow: $shadow-default
			z-index: 90
			h2
				height: 80px
				margin-left: 5px
			ul
				width: 200px
				li
					display: flex
					flex-flow: row wrap
					&:nth-of-type(2)
						margin-top: 16px
						margin-bottom: 16px
					a
						width: 160px
						color: $black
						transition: .265s ease all
						&:hover
							color: $blue
					img
						align-self: baseline
						margin-right: 16px

			@media(min-width: $breakpoint-fluid)
				padding: 0 60px
				h2
					height: 125px
				ul
					width: 300px
					li
						a
							width: 210px





//Confirmation page
.confirm--header
	position: relative
	overflow: hidden !important


.bottom-stuff
	@extend .wrapper
	position: fixed
	left: 50%
	bottom: 0
	transform: translateX(-50%)
	z-index: 20
	max-width: 800px
	height: 100px
	background-color: $white
	box-shadow: $shadow-default
	color: $blue

	display: flex

	@media(max-width: $breakpoint-tablet)
		flex-flow: column wrap
		height: 140px
		bottom: 0vh
		justify-content: space-between
		padding: 0 20px

	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	.border
		border-right: 1px solid rgba($black, 0.1)
		@media(max-width: $breakpoint-tablet)
			border-right: none

	.part
		display: flex
		align-items: center
		justify-content: center
		position: relative
		cursor: pointer
		p
			width: 90%
			font-size: 14px
			color: $black
			opacity: 0.5
			@media(min-width: $breakpoint-fluid)
				font-size: 16px
		a
			position: relative
			transform: translateX(0px)
			transition: .265s ease all
			color: $blue
			&:after
				content: ''
				display: block
				background: url(../../../public/images/icons/blue/right.svg) no-repeat center
				background-size: 24px 24px
				position: absolute
				right: -32px
				top: -5px
				width: 32px
				height: 32px
				opacity: 0
				transition: .265s ease all
			&:hover
				transform: translateX(-24px)
				&:after
					opacity: 1
					right: -48px

		@media(max-width: $breakpoint-tablet)
			justify-content: flex-start
			a
				&:after
					opacity: 1


.infos-error-form
	display: block
	max-width: 800px
	margin: 0 auto
	padding: 30px 50px 30px 50px
	transform: translateY(-80px) scaleY(0)
	background-color: $white
	transition: .265s ease all
	&.display
		transform: translateY(-80px) scaleY(1)
		box-shadow: $shadow-default
	p
		color: $blue

	@media(min-width: $breakpoint-fluid)
		max-width: 1160px



@keyframes rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
