.home--slider
	width: calc(100vw - 12px)
	overflow: hidden
	height: 100vh
	display: flex
	overflow-x: hidden !important
	position: relative
	&::-webkit-scrollbar
		display: none !important

	cursor: move !important
	cursor: grab !important
	cursor: -moz-grab !important
	cursor: -webkit-grab !important
	&.grabbing
		cursor: move !important
		cursor: grabbing !important
		cursor: -moz-grabbing !important
		cursor: -webkit-grabbing !important

	h1
		color: $blue
		text-align: center
		max-width: 600px
		margin: 0
		&.slider
			max-width: 940px
			margin: 0
		@media(min-width: $breakpoint-fluid)
			max-width: 55vw
			padding: 0 2vw
			&.slider
				max-width: 80vw
		@media(max-width: $breakpoint-tablet)
			z-index: 10


	@media(max-width: $breakpoint-tablet)
		width: 100vw


	@media(max-width: $breakpoint-mobile)

		h1
			font-size: 18px
			line-height: 26px
			max-width: 300px
			transform: translateY(-50%)
			&.slider
				font-size: 30px
				padding-bottom: 5vh


	.section
		width: calc(100vw - 12px)
		height: 100vh
		position: absolute
		top: 0
		display: flex
		h1
			color: $white
		&.s-0
			justify-content: center
			align-items: center
			align-content: center
			h1
				color: $blue
		&.s-1
			left: calc(100vw - 12px)
			background-color: transparent
			h1
				color: $blue
		&.s-2
			left: calc(200vw - 24px)
			background-color: transparent
		&.s-3
			left: calc(300vw - 36px)
			background-color: transparent
		&.s-4
			left: calc(400vw - 48px)
			background-color: transparent
		&.s-5
			left: calc(500vw - 60px)
			background-color: transparent
		&.s-6
			left: calc(600vw - 72px)
			background-color: transparent
		&.s-7
			left: calc(700vw - 84px)
			background-color: transparent
		&.s-8
			left: calc(800vw - 96px)
			background-color: transparent
			h1
				text-shadow: $shadow-default
		&.s-9
			left: calc(900vw - 108px)
			background-color: transparent
		&.s-10
			left: calc(1000vw - 120px)
			background-color: transparent
			width: 100vw



.slider-bg
	position: absolute
	top: 0
	left: 0
	width: 1000vw
	height: 100vh
	background-color: $white
	z-index: -1
	transition: .3s ease all


.home--about
	position: relative
	.indic
		content: ''
		position: absolute
		top: -20px
		left: 50%
		transform: translateX(-50%)
		width: 800px
		height: 50px
		box-shadow: 0 -10px 20px rgba(black, 0.1)
		background-color: #FFF
		@media(min-width: $breakpoint-fluid)
			max-width: 1160px

	h3
		max-width: 500px
		margin: 120px auto 120px auto
		text-align: center
		@media(min-width: $breakpoint-fluid)
			max-width: 45vw
			margin: 10vh auto 20vh auto
			text-align: center

	@media(max-width: $breakpoint-tablet)

		h3
			max-width: 300px
			text-align: left
		.indic
			display: none



.home--process
	background-color: $cream
	position: relative
	z-index: 1
	margin-bottom: 80px
	@media(min-width: $breakpoint-fluid)
		padding-bottom: 60px

	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		background-color: $white
		width: 100%
		height: 50vh
		max-height: 500px
		z-index: -1


	h1
		text-align: center
		max-width: 500px
		margin: 0 auto 120px auto
		@media(min-width: $breakpoint-fluid)
			max-width: 34vw
			margin: 0 auto 160px auto

		@media(max-width: $breakpoint-tablet)
			margin: 0 auto 40px auto

		@media(max-width: $breakpoint-mobile)
			width: 300px

	.process
		@extend .wrapper
		max-width: 800px
		@media(min-width: $breakpoint-fluid)
			max-width: 1160px

		&--item
			display: flex
			display: -ms-flex
			background-color: $white
			height: 300px
			flex-flow: column wrap
			justify-content: center
			align-items: center
			text-align: center
			position: relative
			border: 1px solid rgba(#eee, 1)
			border-top: none
			@media(min-width: $breakpoint-fluid)
				height: 450px

			&:first-child, &:nth-child(2)
				border-top: 1px solid rgba(#eee, 1)

			&:nth-child(even)
				transform: translate(-1px, 0)
				@media(max-width: $breakpoint-tablet)
					transform: translate(0px, 0)

			&__txt
				max-width: 270px
				margin: 20px auto 0 auto

			&__img
				margin: 20px auto 0 auto
				height: 140px
				min-height: 100px
				width: 150px
				@media(min-width: $breakpoint-fluid)
					height: 190px

			&__number
				position: absolute
				color: rgba($black, .2)
				left: 16px
				top: 16px
				@media(min-width: $breakpoint-fluid)
					font-size: 16px
					line-height: 24px





.home--stories
	h1
		text-align: center
		max-width: 400px
		margin: 0 auto 120px auto
		@media(min-width: $breakpoint-fluid)
			max-width: 34vw

		@media(max-width: $breakpoint-tablet)
			margin: 0 auto 40px auto

	.story--item
		@extend .wrapper
		max-width: 800px
		position: relative
		a
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: flex
			flex-flow: column wrap
			justify-content: flex-end
			padding: 16px 24px
			z-index: 2
			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				display: block
				width: 100%
				height: 100%
				background-color: rgba($black, 0.4)
				z-index: 1
				opacity: 0
				transition: .265s ease all


		@media(min-width: $breakpoint-fluid)
			max-width: 1160px

		&__infos
			overflow: hidden
			height: 270px
			position: relative
			flex-flow: column wrap
			justify-content: flex-end
			z-index: 2
			@media(min-width: $breakpoint-fluid)
				height: 340px
			img
				position: absolute
				top: 0
				left: 0
				transition: .2s ease all
				object-fit: cover
				width: 100%
				height: 100%
			h2
				z-index: 10
				color: $white
				opacity: 0
				transition: .265s ease all
				position: relative
				transform: translateY(25px)
				text-shadow: 0px 0px 10px rgba($black, 0.4)
			span
				z-index: 10
				color: white
				opacity: 0
				transition: .265s ease all
				position: relative
				transform: translateY(25px)

			&:after
				content: '+'
				font-family: 'Roboto', sans-serif
				font-size: 50px
				font-weight: 100
				position: absolute
				bottom: 24px
				right: 16px
				color: white
				z-index: 2
				opacity: 0
				transition: .265s ease all

			&:hover
				cursor: pointer
				a:before
					opacity: 1

				&:after
					opacity: 1
					transition: .265s .1s ease all

				h2, span
					opacity: 1
					transform: translateY(0)

	@media(max-width: $breakpoint-tablet)
		.story--item
			&__infos
				&:before
					background: linear-gradient(to bottom, transparent 50%, rgba($black, 0.5) 100%)
					opacity: 1

				&:after
					opacity: 1

				h2, span
					opacity: 1
					transform: translateY(0)



.home--references
	h1
		text-align: center
		max-width: 400px
		margin: 60px auto 16px auto
		@media(min-width: $breakpoint-fluid)
			max-width: 34vw
	p
		max-width: 400px
		text-align: center
		margin: 0 auto

	ul
		@extend .wrapper
		li
			@extend .grid
			width: 25%
			text-align: center
			margin-top: 24px
			margin-bottom: 24px
			img
				height: auto
				width: 130px
				max-width: 130px
				max-height: 130px
				@media(max-width: $breakpoint-tablet)
					max-width: 70px

.home--contact
	h1
		text-align: center
		max-width: 400px
		margin: 60px auto 120px auto
		@media(min-width: $breakpoint-fluid)
			max-width: 34vw

		@media(max-width: $breakpoint-tablet)
			margin: 30px auto 40px auto

	.contact
		@extend .wrapper
		max-width: 800px
		margin-bottom: 80px
		@media(min-width: $breakpoint-fluid)
			max-width: 1160px

		&--item
			background-color: $white
			height: 300px
			flex-flow: column wrap
			justify-content: center
			text-align: center
			align-content: center
			align-items: center
			position: relative
			border: 1px solid rgba(#eee, 1)
			img
				min-height: 100px
				width: 150px
				@media(min-width: $breakpoint-fluid)
					height: 190px

			@media(min-width: $breakpoint-fluid)
				height: 450px
			&:first-child
				transform: translateX(1px)
				img
					margin-top: 26px

		.text-link
			color: rgba($black, 0.5)
			margin-top: 36px
			position: relative
			transition: .265s ease all
			&:last-of-type
				margin-top: 16px
				&:after
					content: ''
					display: block
					position: absolute
					left: 50%
					top: -8px
					transform: translate(-50%, 50%)
					height: 1px
					width: 20px
					background-color: rgba($black, 0.2)

			&:hover
				color: $blue


		.link-cta
			margin-top: 36px
			left: 0
			transform: inherit
			text-align: left
			&:hover
				.txt
					transform: translateX(90px)



.bottom-infos
	position: absolute
	top: calc(100vh - 76px)
	left: 12vw
	opacity: .2
	transition: .2s ease all
	z-index: -1
	&.hide
		opacity: 0
	@media(max-width: $breakpoint-tablet)
		display: none

.bottom-img-infos
	position: absolute
	width: 100px
	top: calc(100vh - 95px)
	left: 2vw
	transition: .3s ease all
	z-index: -1
	mix-blend-mode: darken
	@media(max-width: $breakpoint-tablet)
		display: none
	&.hide
		opacity: 0


.bottom-slider-bounds
	position: absolute
	top: calc(100vh - 76px)
	@media(max-width: $breakpoint-tablet)
		display: none
	left: 50vw
	height: 24px
	width: 100px
	transform: translateX(-50%)
	//overflow: visible !important
	&::-webkit-scrollbar
		display: none !important
	&:before
		content: ''
		position: absolute
		top: -2px
		left: 0
		z-index: 0
		width: 120px
		height: 24px
		display: block
		box-shadow: $shadow-default
		background-color: $white
		border-radius: 12px
		transform: translateX(-10px)
		transition: .2s ease all
		opacity: 0
	&.show:before
		opacity: 1

.bottom-slider
	position: absolute
	top: 50%
	transform: translateY(-2px)
	left: 0
	height: 30px
	width: auto
	overflow: visible !important
	z-index: 12
	cursor: pointer
	&::-webkit-scrollbar
		display: none !important

	li
		display: inline-block
		list-style-type: none
		width: 120px
		text-align: center
		position: absolute
		z-index: 10
		line-height: 0px
		cursor: pointer
		transition: .2s ease all
		color: rgb(200,200,200)
		user-select: none
		opacity: .5
		font-size: 14px !important
		&.active-slider
			color: $blue
			opacity: 1
		&.s-1
			left: 120px
			transform: translateX(-10px)
		&.s-2
			left: 240px
			transform: translateX(-10px)
		&.s-3
			left: 360px
			transform: translateX(-10px)
		&.s-4
			left: 480px
			transform: translateX(-10px)
		&.s-5
			left: 600px
			transform: translateX(-10px)
		&.s-6
			left: 720px
			transform: translateX(-10px)
		&.s-7
			left: 840px
			transform: translateX(-10px)
		&.s-8
			left: 960px
			transform: translateX(-10px)
			&.active-slider
				color: $blue !important
		&.s-9
			left: 1080px
			transform: translateX(-10px)
		&.s-10
			left: 1200px
			transform: translateX(-10px)


.home-controls
	z-index: 2
	position: absolute
	left: 2vw
	top: 50vh
	transform: translateY(-50%) scale(0.75)
	width: 48px
	height: 96px
	display: flex
	flex-flow: column wrap
	justify-content: space-around
	align-items: center
	align-content: center
	.unselect
		background-color: rgb(220,220,220) !important
		opacity: .2 !important
		&:hover:after
			z-index: -99 !important
			right: -100px !important
		&:hover img
			transform: translateX(0) !important
	span
		box-shadow: $shadow-default
		background-color: $white
		position: relative
		width: 100%
		height: 50%
		display: flex
		flex-flow: column wrap
		justify-content: space-around
		align-items: center
		justify-content: center
		align-content: center
		transition: .265s ease all
		cursor: pointer
		overflow: hidden
		img
			transition: .265s ease all
			max-width: 32px

		&:first-of-type
			&:after
				content: ''
				display: block
				background: url(../../../public/images/icons/white/left.svg) no-repeat center, $blue
				background-size: 32px 16px
				position: absolute
				right: -100%
				top: 0
				width: 48px
				height: 48px
				transition: .265s ease all
			&:hover
				img
					transform: translateX(-48px)
				&:after
					right: 0

		&:last-of-type
			&:after
				content: ''
				display: block
				background: url(../../../public/images/icons/white/right.svg) no-repeat center, $blue
				background-size: 32px 16px
				position: absolute
				left: -100%
				top: 0
				width: 48px
				height: 48px
				transition: .265s ease all
			&:hover
				img
					transform: translateX(48px)
				&:after
					left: 0

	@media(max-width: $breakpoint-tablet)
		z-index: 99
		left: 5vw
		top: 80vh
		flex-flow: row wrap
		width: 96px
		height: 48px
		span
			height: 100%
			width: 50%
			border-bottom: 0px !important

//scroll for mobile
@media(max-width: $breakpoint-mobile)
	.mobile-scroll
		position: absolute
		right: 20px
		top: 77.5vh
		z-index: 99
		opacity: .5
		animation: float 3s linear infinite
		&:after
			content: ''
			display: block
			background: url(../../../public/images/icons/grey/bottom.svg) no-repeat center
			background-size: 12px 24px
			position: relative
			width: 48px
			height: 48px
			z-index: 99



@keyframes float
	0%
		transform: translateY(-5px)
	50%
		transform: translateY(5px)
	100%
		transform: translateY(-5px)


@media(max-width: $breakpoint-tablet)
	.forceScroll
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 100vh
		background-color: transparent
		z-index: 11
	.forceScrollSuccess
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 100%
		background-color: transparent
		z-index: 11
