ul.juicer-feed
	margin: 80px auto 120px !important
	max-width: 800px !important

	@media (max-width: $breakpoint-tablet)
		max-width: 600px !important
		padding: 0 5vw
		transform: translateY(-10vh)

	@media (max-width: $breakpoint-mobile)
		max-width: 300px !important
		padding: 0

	.referral
		display: none !important

.j-overlay
	.j-close
		top: 16px !important
		right: 10px !important

	.j-post-overlay
		.j-image
			&:after
				top: 16px !important
				right: 24px !important

			.j-gallery-nav
				padding: 0 16px !important

		.j-overlay-text
			padding: 32px !important
			padding-right: 48px !important

			.j-navigate
				right: 16px !important
				bottom: 16px !important

			.j-share
				display: none !important

.j-stacker-wrapper
	margin: 0 auto

.galcolumn
	float: left !important

	&#j-column-1
		transform: translateY(40px)

	&#j-column-2
		transform: translateY(80px)

.j-text
	display: none

.feed-item
	position: relative
	border: 1px solid $cream
	overflow: hidden
	visibility: hidden

	&:after
		content: '+'
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		background-color: rgba($blue, 0.5)
		transition: .265s ease all
		font-weight: 100
		font-family: 'Roboto'
		color: $white
		display: flex
		justify-content: center
		align-items: center
		font-size: 80px
		opacity: 0
		z-index: 100
		cursor: pointer

	.j-image
		&:after
			background-image: none !important
			filter: none !important

		img
			transition: .265s ease all, 2s ease transform

	&:hover
		&:after
			opacity: 1

		.j-image
			img
				z-index: 919 !important
				box-shadow: $shadow-default
				transform: scale(1.05)
