// MAGOUILLE
#box-stanley-stella
	.slider-right,
	.block-slider.right
		height: 520px!important




.case-intro
	z-index: 20
	@extend .wrapper
	max-width: 800px
	min-height: 18px
	@media(min-width: $breakpoint-fluid)
		max-width: 1160px
		min-height: 190px


	display: block
	padding: 30px;

	.label
		opacity: .5

	.right
		display: flex
		flex-flow: column wrap
		justify-content: flex-start
		min-height: 160px
		position: relative
		p
			width: 90%

		@media(max-width: $breakpoint-tablet)
			justify-content: flex-end
			p
				max-width: 300px


.story--ambiant
	@extend .wrapper
	max-width: 800px
	margin-top: 40px
	margin-bottom: 80px
	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	.block
		height: 250px
		overflow: hidden
		position: relative
		@media(min-width: $breakpoint-fluid)
			height: 400px
		img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			object-fit: cover

	@media(max-width: $breakpoint-tablet)
		margin-top: 0px
		transform: translateY(-40px)
		.block
			transform: translateY(0px) !important
			height: 200px
			margin-bottom: 10px
			img
				width: 100%
				height: 100%
				object-fit: cover


.story--products
	&__coming
		background-color: $white
		color: $blue
		min-height: 300px
		display: flex
		display: -ms-flex
		justify-content: center
		align-content: center
		align-items: center
		position: relative
		z-index: 2
		margin-top: 60px
		box-shadow: $shadow-default

		h2
			display: inline-block
			margin: 0
			position: absolute
			top: 50%
			left: 50%
			text-align: center
			transform: translate(-50%, -50%)
			max-width: 90%

		@media(max-width: $breakpoint-tablet)
			max-width: 100%
			margin-top: 40px
			h2
				font-size: 18px

	@extend .wrapper
	max-width: 800px
	margin-top: 40px
	margin-bottom: 40px
	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	@media(max-width: $breakpoint-mobile)
		margin-bottom: 0

	h1
		text-align: center
		z-index: 19
		margin: 0 auto 120px auto
		@media(min-width: $breakpoint-fluid)
			max-width: 45vw
			margin: 0 auto 150px auto
			text-align: center

		@media(max-width: $breakpoint-mobile)
			margin-bottom: 40px

	.block
		height: 250px
		overflow: hidden
		position: relative
		border: 1px solid rgba(#eee, 1)
		border-top: none
		cursor: pointer
		transition: .265s ease all
		background-color: $white
		transform: translate(1px, 0)
		@media(min-width: $breakpoint-fluid)
			height: 400px


		&:first-child, &:nth-child(2)
			border-top: 1px solid rgba(#eee, 1)

		@media(max-width: $breakpoint-mobile)
			&:nth-child(2)
				border-top: none

		// &:nth-child(even)
		// 	transform: translateY(-120px)
		// 	@media(max-width: $breakpoint-mobile)
		// 		transform: translateY(0)

		&:nth-child(odd)
			transform: translate(0px, -60px)
			@media(max-width: $breakpoint-mobile)
				transform: translate(0, 0)

		&:after
			content: '+'
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba($blue, 0.5)
			font-weight: 100
			font-family: 'Roboto'
			color: $white
			display: flex
			justify-content: center
			align-items: center
			font-size: 80px
			transition: .265s ease all
			opacity: 0
		img
			width: auto
			height: 100%
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%) scale(1)
			transition: 1.265s ease all

		&:hover
			&:after
				opacity: 1
			img
				transform: translateX(-50%) scale(1.05)

.modal
	transition: .365s ease all
	width: 100vw
	height: 100vh
	opacity: 0
	z-index: -9999
	background-color: $white
	position: fixed
	top: 0
	left: 0
	overflow: hidden
	text-align: center
	cursor: none
	.closeModal
		position: absolute
		z-index: 1
		width: 32px
		top: 24px
		right: 24px
	&.open
		opacity: 1
		z-index: 9999
	.controls
		z-index: 2
		position: absolute
		left: 10vw
		top: 50vh
		transform: translateY(-50%)
		width: 48px
		height: 96px
		box-shadow: $shadow-default
		background-color: $white
		display: flex
		flex-flow: column wrap
		justify-content: space-around
		align-items: center
		align-content: center
		span
			position: relative
			width: 100%
			height: 50%
			display: flex
			flex-flow: column wrap
			justify-content: space-around
			justify-content: center
			align-items: center
			align-content: center
			transition: .265s ease all
			cursor: pointer
			overflow: hidden
			img
				transition: .265s ease all
				max-width: 32px

			&:first-of-type
				border-bottom: 1px solid rgba($black, 0.1)
				&:after
					content: ''
					display: block
					background: url(../../../public/images/icons/white/left.svg) no-repeat center, $blue
					background-size: 32px 16px
					position: absolute
					right: -100%
					top: 0
					width: 48px
					height: 48px
					transition: .265s ease all
				&:hover
					img
						transform: translateX(-48px)
					&:after
						right: 0

			&:last-of-type
				border-bottom: 1px solid rgba($black, 0.1)
				&:after
					content: ''
					display: block
					background: url(../../../public/images/icons/white/right.svg) no-repeat center, $blue
					background-size: 32px 16px
					position: absolute
					left: -100%
					top: 0
					width: 48px
					height: 48px
					transition: .265s ease all
				&:hover
					img
						transform: translateX(48px)
					&:after
						left: 0

		@media(max-width: $breakpoint-tablet)
			left: 0


	#dynamic
		height: 100vh
		opacity: 0
		transition: .265s ease all
		&.show
			opacity: 1
		@media(max-width: $breakpoint-tablet)
			width: 100%
			height: 100%
			object-fit: contain


.story--process
	max-width: 800px
	@extend .wrapper
	max-width: 800px
	margin: 0 auto 80px auto
	@media(max-width: $breakpoint-tablet)
		margin: 0 0 40px 0
		max-width: 100vw
		transform: translateY(-60px)
		z-index: 2

	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	.block-slider
		@extend .grid
		@extend .col-s-5
		height: 280px
		overflow-x: hidden !important
		position: relative
		cursor: move !important
		cursor: grab !important
		cursor: -moz-grab !important
		cursor: -webkit-grab !important
		&.grabbing
			cursor: move !important
			cursor: grabbing !important
			cursor: -moz-grabbing !important
			cursor: -webkit-grabbing !important

		&.left
			border: 1px solid rgba($black, 0.1)
			transform: translateY(-20px)
			background-color: $white

		&.right
			transform: translateY(20px)
			background-color: $white
			box-shadow: $shadow-default

		&::-webkit-scrollbar
			display: none !important
		div
			padding: 0 !important
			position: inherit
			&::-webkit-scrollbar
				display: none !important

		.slider-left
			@extend .grid
			@extend .col-xs-10
			position: absolute
			top: -20px
			height: 280px
			display: flex
			justify-content: center
			align-items: center
			align-content: center
			h2
				color: $blue
				margin: 0
				text-align: center
				width: 80%

		.slider-right
			@extend .grid
			@extend .col-xs-10
			position: absolute
			top: -20px
			height: 280px
			display: flex
			justify-content: center
			align-items: center
			align-content: center
			p
				margin: 0
				padding: 40px

		.step-1
			left: 0%

		.step-2
			left: 100%

		.step-3
			left: 200%

		.step-4
			left: 300%

		.step-5
			left: 400%

		@media(max-width: $breakpoint-tablet)
			width: 100vw
			&.left
				height: 140px
				transform: translateY(15px)

			&.right
				transform: translateY(0px)
				height: 270px
			.slider-left
				top: -10px
				height: 140px
				h2
					text-align: left
			.slider-right
				top: -10px
				height: 270px
				p
					padding: 40px 35px


		@media(min-width: $breakpoint-fluid)
			&.left
				height: 400px

			&.right
				height: 400px

			.slider-left
				height: 400px

			.slider-right
				height: 400px

	.controls
		z-index: 2
		position: absolute
		left: -48px
		bottom: 20px
		width: 48px
		height: 96px
		display: flex
		flex-flow: column wrap
		justify-content: space-around
		align-items: center
		align-content: center
		.unselect
			background: rgb(220,220,220)
			opacity: .2
			&:hover:after
				z-index: -99 !important
				right: -100px !important
			&:hover img
				transform: translateX(0) !important

		span
			box-shadow: $shadow-default
			position: relative
			width: 100%
			height: 50%
			display: flex
			flex-flow: column wrap
			justify-content: space-around
			align-items: center
			align-content: center
			justify-content: center
			transition: .265s ease all
			cursor: pointer
			overflow: hidden
			background-color: $blue
			img
				transition: .265s ease all
				max-width: 32px

			&:first-of-type
				border-bottom: 1px solid rgba($black, 0.1)
				&:after
					content: ''
					display: block
					background: url(../../../public/images/icons/blue/left.svg) no-repeat center, $white
					background-size: 32px 14px
					position: absolute
					right: -100%
					top: 0
					width: 48px
					height: 48px
					transition: .265s ease all
				&:hover
					img
						transform: translateX(-48px)
					&:after
						right: 0

			&:last-of-type

				&:after
					content: ''
					display: block
					background: url(../../../public/images/icons/blue/right.svg) no-repeat center, $white
					background-size: 32px 14px
					position: absolute
					left: -100%
					top: 0
					width: 48px
					height: 48px
					transition: .265s ease all
				&:hover
					img
						transform: translateX(48px)
					&:after
						left: 0
		@media(max-width: $breakpoint-tablet)
			z-index: 99
			left: calc(95vw - 96px)
			top: -10px
			flex-flow: row wrap
			width: 96px
			height: 48px
			span
				height: 100%
				width: 50%
				&:first-of-type
					border-bottom: 0px
				&:last-of-type
					border-bottom: 0px



.after-grey
	position: relative
	&:after
		content: ''
		position: absolute
		top: -250px
		left: 0
		height: 550px
		width: 100%
		background-color: $cream
		z-index: -1
	@media(max-width: $breakpoint-mobile)
		transform: translateY(-80px)



.bar-controls
	margin: 0 auto 60px auto
	position: relative
	display: flex
	flex-flow: column wrap
	justify-content: center
	align-items: center
	.numbers
		position: relative
		span
			position: relative
			display: inline-block
			font-family: 'Roboto'
			opacity: 0.3
		.current
			transform:  translateX(-8px) translateY(-7px)

		.total
			transform: translateX(8px) translateY(7px)
		&:after
			content: ''
			position: absolute
			top: -20%
			left: 50%
			transform: translateX(-50%) rotate(55deg)
			display: block
			width: 1px
			height: 25px
			background-color: rgba($black, 0.1)
			@media(min-width: $breakpoint-fluid)
				top: 10%
				background-color: rgba($black, 0.2)

	.bar
		margin-top: 20px
		display: flex
		flex-flow: row wrap
		position: relative
		box-shadow: 0 0 10px rgba($black, 0.2)
		.step
			display: inline-block
			width: 60px
			height: 4px
			background-color: $white
			@media(max-width: $breakpoint-tablet)
				width: 50px
		.first
			border-top-left-radius: 2px
			border-bottom-left-radius: 2px

		.last
			border-top-right-radius: 2px
			border-bottom-right-radius: 2px
		.border
			border-right: 1px solid rgba($black, 0.15)

		.current
			position: absolute
			top: -2px
			left: 0
			height: calc(100% + 4px)
			width: 20%
			background-color: $blue
			border-radius: 4px
			transition: .4s ease all

	@media(max-width: $breakpoint-tablet)
		transform: translateY(-60px)
		z-index: 2
		.numbers
			order: 1
			transform: translateY(20px)
		.bar
			margin-top: 0


.story--next
	max-width: 800px
	@extend .wrapper
	max-width: 800px
	margin: 120px auto 80px auto

	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	@media(max-width: $breakpoint-tablet)
		width: 100vw
		margin: 0



	.block
		height: 280px
		@media(max-width: $breakpoint-tablet)
			height: 200px
		@media(min-width: $breakpoint-fluid)
			height: 420px
			&.content
				h2
					&:after
						top: 50% !important
						transform: translateY(-50%)


		&.content
			display: flex
			flex-flow: column wrap;
			align-items: flex-start;
			justify-content: center;
			transform: translateY(-40px)
			padding: 40px 40px 40px 70px
			box-shadow: $shadow-default
			z-index: 91

			@media(max-width: $breakpoint-tablet)
				transform: translateY(20px)
				background-color: $white
				width: 90%
				margin: 0 5%
				padding: 20px 20px 20px 35px
				z-index: 99

			h2
				color: $blue
				position: relative
				&:after
					content: ''
					display: block
					background: url(../../../public/images/icons/grey/right.svg) no-repeat center
					background-size: 26px 14px
					position: absolute
					right: -32px
					top: 9px
					width: 26px
					height: 14px
					opacity: 0
					transition: .265s ease all
					@media(max-width: $breakpoint-tablet)
						opacity: .25
						right: -50px
						background-size: 20px 20px

			.label
				opacity: .25
				font-weight: 300
				color: $black
				transform: translateY(-20%)
			&:hover
				box-shadow: $shadow-default
		&.img
			overflow: hidden
			position: relative
			img
				object-fit: cover
				transition: 2s ease all
				z-index: -1
				width: 100%
				height: 100%

			&:hover
				box-shadow: 0 0 0 rgba($black, 0);
				z-index: inherit

	a:hover
		.block.content h2:after
			opacity: .25
			right: -60px
		.block.img img
			transform: scale(1.03)

