$uikit-tablet: 1200px

/*
 * Background
 */

.uk-background-light
	background-color: #f8f8f8

.uk-background-white
	background-color: #ffffff

.uk-background-transparent
	background-color: transparent

/*
 * Border
 */

.uk-border-none
	border: none

.uk-border-bottom
	border-bottom: 1px solid #e5e5e5
	background: transparent

	&:hover,
	&:active,
	&:focus
		background: transparent

/*
 * Box shadow
 */

.uk-box-shadow-remove
	box-shadow: none

/*
 * Card
 */

.uk-card-form-like
	height: 40px

.uk-card-form-danger
	border-bottom: 1px solid #f0506e !important

.uk-card-error-message
	bottom: -24px
	left: 5px

/*
 * Form
 */

.uk-checkbox
	margin-top: 0px

.uk-form-label
	font-weight: bold

.uk-form-width-xmedium
	width: 350px

.uk-input,
.uk-select,
.uk-textarea
	&:disabled
		&.uk-disabled-remove
			background-color: inherit !important
			color: inherit !important
			border-color: inherit !important

/*
 * Icon
 */

.uk-icon-link
	&:hover
		cursor: pointer

.uk-icon
	&.uk-icon-muted
		svg
			color: $muted

	&.uk-icon-primary
		svg
			color: $primary

	&.uk-icon-success
		svg
			color: $success

	&.uk-icon-warning
		svg
			color: $warning

	&.uk-icon-danger
		svg
			color: $danger

/*
 * Label
 */

.uk-label-muted
	background-color: $muted
	color: #666666

/*
 * Margin - tiny
 */

.uk-margin-tiny
	margin: 5px !important

.uk-margin-tiny-top
	margin-top: 5px !important

.uk-margin-tiny-bottom
	margin-bottom: 5px !important

.uk-margin-tiny-left
	margin-left: 5px !important

.uk-margin-tiny-right
	margin-right: 5px !important

.uk-margin-tiny-vertical
	margin-top: 5px !important
	margin-bottom: 5px !important

.uk-margin-tiny-horizontal
	margin-left: 5px !important
	margin-right: 5px !important

/*
 * Margin - small
 */

.uk-margin-small-vertical
	margin-top: 10px !important
	margin-bottom: 10px !important

.uk-margin-small-horizontal
	margin-left: 10px !important
	margin-right: 10px !important

/*
 * Margin - normal
 */

.uk-margin-vertical
	margin-top: 20px !important
	margin-bottom: 20px !important

.uk-margin-horizontal
	margin-left: 20px !important
	margin-right: 20px !important

/*
 * Margin - medium
 */

.uk-margin-medium-vertical
	margin-top: 40px !important
	margin-bottom: 40px !important

.uk-margin-medium-horizontal
	margin-left: 40px !important
	margin-right: 40px !important

/*
 * Margin - large
 */

.uk-margin-large-vertical
	margin-top: 40px !important
	margin-bottom: 40px !important
	@media (min-width: $uikit-tablet)
		margin-top: 70px !important
		margin-bottom: 70px !important

.uk-margin-large-horizontal
	margin-left: 40px !important
	margin-right: 40px !important
	@media (min-width: $uikit-tablet)
		margin-left: 70px !important
		margin-right: 70px !important

/*
 * Margin - xlarge
 */

.uk-margin-xlarge-vertical
	margin-top: 70px !important
	margin-bottom: 70px !important
	@media (min-width: $uikit-tablet)
		margin-top: 140px !important
		margin-bottom: 140px !important

.uk-margin-xlarge-horizontal
	margin-left: 70px !important
	margin-right: 70px !important
	@media (min-width: $uikit-tablet)
		margin-left: 140px !important
		margin-right: 140px !important

/*
 * Overflow
 */

.uk-overflow-scroll
	overflow: scroll

/*
 * Padding - tiny
 */

.uk-padding-tiny
	padding: 5px !important

.uk-padding-tiny-top
	padding-top: 5px !important

.uk-padding-tiny-bottom
	padding-bottom: 5px !important

.uk-padding-tiny-left
	padding-left: 5px !important

.uk-padding-tiny-right
	padding-right: 5px !important

.uk-padding-tiny-vertical
	padding-top: 5px !important
	padding-bottom: 5px !important

.uk-padding-tiny-horizontal
	padding-left: 5px !important
	padding-right: 5px !important

/*
 * Padding - small
 */

.uk-padding-small-top
	padding-top: 15px !important

.uk-padding-small-bottom
	padding-bottom: 15px !important

.uk-padding-small-left
	padding-left: 15px !important

.uk-padding-small-right
	padding-right: 15px !important

.uk-padding-small-vertical
	padding-top: 15px !important
	padding-bottom: 15px !important

.uk-padding-small-horizontal
	padding-left: 15px !important
	padding-right: 15px !important

/*
 * Padding - normal
 */

.uk-padding-top
	padding-top: 20px !important
	@media (min-width: $uikit-tablet)
		padding-top: 40px !important

.uk-padding-bottom
	padding-bottom: 20px !important
	@media (min-width: $uikit-tablet)
		padding-bottom: 40px !important

.uk-padding-left
	padding-left: 20px !important
	@media (min-width: $uikit-tablet)
		padding-left: 40px !important

.uk-padding-right
	padding-right: 20px !important
	@media (min-width: $uikit-tablet)
		padding-right: 40px !important

.uk-padding-vertical
	padding-top: 20px !important
	padding-bottom: 20px !important
	@media (min-width: $uikit-tablet)
		padding-top: 40px !important
		padding-bottom: 40px !important

.uk-padding-horizontal
	padding-left: 20px !important
	padding-right: 20px !important
	@media (min-width: $uikit-tablet)
		padding-left: 40px !important
		padding-right: 40px !important

/*
 * Padding - large
 */

.uk-padding-large-top
	padding-top: 30px !important
	@media (min-width: $uikit-tablet)
		padding-top: 70px !important

.uk-padding-large-bottom
	padding-bottom: 30px !important
	@media (min-width: $uikit-tablet)
		padding-bottom: 70px !important

.uk-padding-large-left
	padding-left: 30px !important
	@media (min-width: $uikit-tablet)
		padding-left: 70px !important

.uk-padding-large-right
	padding-right: 30px !important
	@media (min-width: $uikit-tablet)
		padding-right: 70px !important

.uk-padding-large-vertical
	padding-top: 30px !important
	padding-bottom: 30px !important
	@media (min-width: $uikit-tablet)
		padding-top: 70px !important
		padding-bottom: 70px !important

.uk-padding-large-horizontal
	padding-left: 30px !important
	padding-right: 30px !important
	@media (min-width: $uikit-tablet)
		padding-left: 70px !important
		padding-right: 70px !important

/*
 * Padding - remove
 */

.uk-padding-remove-left
	padding-left: 0px !important

.uk-padding-remove-right
	padding-right: 0px !important

/*
 * Position
 */

.uk-top-1-1
	top: 100%

/*
 * Separator
 */

hr
	&.uk-background,
	&.uk-background-muted,
	&.uk-background-primary,
	&.uk-background-secondary
		border: none
		height: 1px

/*
 * Tab
 */

.uk-tab
	&.uk-border-none
		&:before
			border: none

	&.uk-tab-padding
		& > *
			& > a
				padding-top: 15px
				padding-bottom: 15px
