.card-module
	min-height: 40px
	box-shadow: none
	padding: 0px 15px
	border-bottom: none

	&.uk-card-default
		border-bottom: 1px solid #d8eafc

	input
		&:not([type="checkbox"])
			background-color: transparent !important

	textarea
		min-height: 100px
		padding-top: 10px
		padding-bottom: 10px

	.uk-icon
		min-width: 30px

	.uk-icon-button
		margin-left: 6px
		margin-right: 6px

	.card-input-labels
		max-width: 540px
		padding-top: 5px

		.uk-label
			margin-bottom: 5px

	.uk-grid-small
		.uk-grid-margin
			margin-top: 0px

[disabled].card-module,
[disabled] .card-module
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, .8)

[data-disabled]
	&:after
		content: ''
		display: block
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, .4)
