*, *:before, *:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

img
	-ms-interpolation-mode: bicubic

.compat-object-fit
	background-size: cover
	background-position: center center
	img
		display: none

html
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	font-size: 62.5% //Sets up the Base 10 stuff
	overflow-x: hidden !important
	@media(min-width: $breakpoint-fluid)
		font-size: calc(62.5% + 0.25vw)
	&.noscroll
		overflow: hidden

body
	width: calc(100vw - 12px)
	min-height: 100vh
	color: $font-color
	background-color: $white
	font-size: 15px
	font-weight: 400
	line-height: 1.25em
	-webkit-overflow-scrolling: touch
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	@include rem(font-size, 16px)
	transition: .265s ease all
	position: relative
	overflow-x: hidden
	height: auto !important

	@media(max-width: $breakpoint-tablet)
		width: 100vw

	&:after
		content: ''
		display: block
		position: fixed
		top: 0
		left: 0
		width: 100vw
		height: 0
		z-index: 9999
		background: $white

	&:before
		content: ''
		display: block
		position: fixed
		top: 0
		left: 0
		width: 100vw
		height: 0
		z-index: 9998
		background: $blue


	&.in-transition
		&:after
			height: 100vh
			transition: .465s .1s ease all
		&:before
			height: 100vh
			transition: .465s ease all

	&.out-transition
		&:after
			top: 100vh
			transition: .465s ease all
		&:before
			top: 100vh
			transition: .465s .1s ease all

	&.no-transition
		&:after
			opacity: 0 !important
			display: none !important
			visibility: hidden !important
			z-index: -9999 !important
			left: 500vw !important
			width: 0
			transition: 0s 0s ease all !important
		&:before
			opacity: 0 !important
			display: none !important
			visibility: hidden !important
			z-index: -9999 !important
			left: 500vw !important
			width: 0
			transition: 0s 0s ease all !important



@mixin defaultContainer()
	max-width: $breakpoint-desktop
	margin: 0 auto
	width: 100%
	padding: 0 15px
	@media (min-width: $breakpoint-tablet)
		padding: 0 15px
	@media (min-width: $breakpoint-desktop)
		padding: 0

@mixin displayFlex()
	display: flex
	display: -ms-flexbox

@mixin flexAlignCenter()
	align-items: center
	-webkit-align-items: center
	-ms-flex-align: center

@mixin flexAlignStart()
	align-items: flex-start
	-webkit-align-items: flex-start
	-ms-flex-align: flex-start

@mixin flexAlignEnd()
	align-items: flex-end
	-webkit-align-items: flex-end
	-ms-flex-align: flex-end

@mixin flexJustifyCenter()
	justify-content: center
	-webkit-justify-content: center
	-ms-flex-pack: center

@mixin flexJustifyStart()
	justify-content: flex-start
	-webkit-justify-content: flex-start
	-ms-flex-pack: flex-start

@mixin flexJustifyEnd()
	justify-content: flex-end
	-webkit-justify-content: flex-end
	-ms-flex-pack: flex-end

@mixin flexJustifyBetween()
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-flex-pack: space-between
	-webkit-box-pack: justify
	//-ms-flex-pack: justify

@mixin flexWrap()
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
	-ms-flex-wrap : wrap

@mixin flexNoWrap()
	flex-wrap: nowrap
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: none

@mixin sectionMargin()
	margin-bottom: 30px
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px
	@media (min-width: $breakpoint-desktop)
		margin-bottom: 115px

@mixin defaultBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.6)

@mixin lightBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.23)

@mixin marginForNavigation()
	padding-top: 100px!important

@mixin pageWrapper()
	margin-bottom: 30px!important
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px!important





//==============================================================================

@media (min-width: $breakpoint-tablet)
	html::-webkit-scrollbar
		width: 12px


	html::-webkit-scrollbar-track
		background-color: #eee


	html::-webkit-scrollbar-thumb
		background-color: $blue
		box-shadow: inset $shadow-default


@media (max-width: $breakpoint-tablet)
	html::-webkit-scrollbar
		width: 0px
		display: none




::selection
	background: rgba($blue, 0.5)
	color: $white

::-moz-selection
	background: rgba($blue, 0.5)
	color: $white


img
	user-select: none


.gotop
	position: fixed
	z-index: 900
	bottom: -75px
	right: 3vh
	width: 48px
	height: 48px
	border-radius: 100%
	box-shadow: $shadow-default
	background-color: $white
	transition: .265s ease all
	img
		width: 10px
		transition: .265s ease all
		opacity: .7
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

	&:hover
		box-shadow: 0 0 40px rgba($black, 0.3)
		img
			opacity: 1

	&.show
		bottom: 3vh




//==============================================================================

.hero--header
	height: 100vh
	background-color: $blue
	color: $white
	display: flex
	h1
		margin: auto
		@extend .slider
		z-index: 2



.block--superposition
	background-color: $white
	box-shadow: $shadow-default
	min-height: 250px
	display: flex
	position: relative
	transform: translateY(-50%)
	@media(min-width: $breakpoint-fluid)
		min-height: 350px



.is-mobile
	@media(min-width: 769px)
		display: none



.noscroll
	overflow: hidden !important
	width: 100vw
	transition: 0s ease all


.full--header
	height: 100vh
	width: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover





.cta--contact
	background-color: $blue
	color: $white
	min-height: 250px
	display: flex
	display: -ms-flex
	justify-content: center
	align-content: center
	align-items: center
	position: relative
	.content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 400px
		@media(max-width: $breakpoint-mobile)
			width: 300px
			h2
				font-size: 18px

		h2
			display: inline
		a
			margin-left: 2px
			color: $white
			position: relative
			overflow-x: hidden
			display: inline-table
			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				bottom: -2px
				height: 2px
				width: 100%
				background-color: $white
				transition: .265s ease all

			&:before
				content: ''
				display: block
				position: absolute
				left: 0%
				bottom: -2px
				height: 2px
				width: 0%
				background-color: $white
				transition: .265s ease all

			&:hover
				&:before
					width: 100%
					transition: .5s ease all
				&:after
					left: 100%
					width: 0


	@media(min-width: $breakpoint-fluid)
		min-height: 400px
		.content
			max-width: 800px



#app
	overflow-x: hidden

@media (max-width: $breakpoint-tablet)
	#app
		width: 100vw




/*Animated header*/
.hero--header
	position: relative
	height: 100vh
	justify-content: center
	align-items: center
	align-content: center
	h1
		text-align: center
		margin: 0

	@media(max-width: $breakpoint-tablet)
		height: 90vh
		margin-bottom: 10vh
		&--smaller
			height: 100vh
			margin-bottom: 0vh
			h1, .header--front, .header--back
				transform: translateY(-15vh)

	.header--front
		position: absolute
		right: 0
		top: 0
		width: 50vw
		height: 100%
		z-index: 3
		//transition: .05s ease transform
		@media(max-width: $breakpoint-tablet)
			width: 100vw
			height: 50%



	.header--back
		position: absolute
		left: 0
		top: 0
		width: 50vw
		height: 100%
		//transition: .05s ease transform
		@media(max-width: $breakpoint-tablet)
			width: 100vw
			height: 50%
			top: 50vh


	img
		user-select: none
		position: absolute
		transform: translateY(-50%)
		@media(max-width: $breakpoint-tablet)
			transform: translateY(-50%) translateX(-25%)
		&.fo
			z-index: 3
			@media(min-width: $breakpoint-tablet)
				z-index: 0
				animation: floating 5s linear infinite
			@media(max-width: 1024px)
				max-width: 200px

		&.fs
			z-index: 3
			@media(min-width: $breakpoint-tablet)
				z-index: 0
				animation: opaque 5s linear infinite
		&.bo
			@media(min-width: $breakpoint-tablet)
				animation: floating 5s 1s linear infinite
			@media(max-width: 1024px)
				max-width: 150px

		&.bs
			@media(min-width: $breakpoint-tablet)
				animation: opaque 5s 1s linear infinite


@keyframes floating
	0%
		transform: translateY(calc(-50% - 0px))
	50%
		transform: translateY(calc(-50% - 10px))
	100%
		transform: translateY(calc(-50% - 0px))


@keyframes opaque
	0%
		opacity: 0.7
	50%
		opacity: 1
	100%
		opacity: 0.7



@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1


.wow
	visibility: hidden
	@media(max-width: 768px)
		visibility: visible !important
		animation-name: none !important



.animated
	animation-duration: .5s
	animation-delay: .175s
	animation-fill-mode: both
	@media(max-width: $breakpoint-tablet)
		animation-delay: 0
		animation-duration: .3s

.animated.hinge
	animation-duration: 2s;

.fadeIn
	animation-name: fadeIn;




.loader
	position: fixed
	z-index: 9997
	display: flex
	display: -ms-flex
	justify-content: center
	align-items: center
	align-content: center
	width: 100%
	height: 100vh
	top: 0
	left: 0
	background-color: $white
	transition: .3s .3s
	&:before
		content: ''
		display: block
		position: fixed
		top: -100vh
		left: 0
		width: 100vw
		height: 10vh
		z-index: 9998
		background: $white
		transition: .6s ease all
	&:after
		content: ''
		display: block
		position: fixed
		top: -100vh
		left: 0
		width: 100vw
		height: 100vh
		z-index: 9998
		background: $blue
		transition: .6s .1s ease all

	&.loaded
		top: 100vh
		&:before, &:after
			top: 100vh

	h2
		color: $blue
		text-align: center
		max-width: 700px
		@media(min-width: $breakpoint-fluid)
			max-width: 55vw
			padding: 0 2vw

	@media(max-width: $breakpoint-mobile)
		h2
			font-size: 16px
			line-height: 26px
			max-width: 300px


	.bar
		position: absolute
		bottom: 15vh
		left: 50%
		transform: translateX(-50%)
		width: 100px
		height: 20px
		.label
			position: absolute
			left: 0
			top: 0px
			width: 200px
			transform: translateX(-50px)
			text-align: center
			opacity: .35
			font-weight: 300
			font-size: 12px
		&:after
			content: ''
			display: block
			position: absolute
			top: 30px
			left: -25px
			background-color: $blue
			height: 2px
			width: 150px
			animation: load 1s ease infinite

	&.hidden
		display: none
		z-index: -9999
		visibility: hidden
		opacity: 0




@keyframes load
	0%
		left: 0px
		width: 0
	50%
		left: 0px
		width: 100px
	100%
		left: 100px
		width: 0

