$white: 	#ffffff
$black: 	#313131
$blue: 		#33b5e5
$cream: 	#f9f9f9

$font-color: $black

$breakpoint-mobile: 	425px
$breakpoint-tablet: 	768px
$breakpoint-desktop: 	1024px
$breakpoint-widescreen: 1200px
$breakpoint-fluid: 		1450px

$shadow-default: 	0 0 35px 0 rgba($black, .15)



//==============================================================================
//Mixins========================================================================
//==============================================================================


//==============================================================================
@function parseInt($n)
	@return $n / ($n * 0 + 1)



//==============================================================================
@mixin rem($property, $values)
	$px : ()
	$rem: ()

	@each $value in $values

		@if $value == 0 or $value == auto
			$px : append($px , $value)
			$rem: append($rem, $value)

		@else
			$unit: unit($value)
			$val: parseInt($value)

			@if $unit == "px"
				$px : append($px,  $value)
				$rem: append($rem, ($val / 10 + rem))

			@if $unit == "rem"
				$px : append($px,  ($val * 10 + px))
				$rem: append($rem, $value)


	@if $px == $rem
		#{$property}: $px

	@else
		#{$property}: $px
		#{$property}: $rem



//==============================================================================
@mixin textstyle($font, $size, $spacing, $height)
	font-family: $font, sans-serif
	@include rem(font-size, $size)
	@include rem(letter-spacing, $spacing)
	@include rem(line-height, $height)



//==============================================================================
@mixin spacers($numbers, $boolean) /*@param $boolean in/out, @param $numbers, int only*/
	$px : ()
	$rem: ()

	@each $value in $numbers

		@if $value == 0 or $value == auto
			$px : append($px , $value)

		@else
			$unit: unit($value)
			$val: parseInt($value)
			$px : append($px,  ($val * 8 + px))


	@if $boolean == 'in'
		margin: $px

	@if $boolean == 'out'
		padding: $px


