.browsehappy
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: 0
	padding: 0
	z-index: 9999
	background: white

	p
		padding: 50px
		max-width: none
		max-height: none
		text-align: center
		font-size: 14px
		a
			color: $blue
			font-size: 14px

	img
		max-width: 500px
		@media(max-width: 768px)
			width: 50%
