$uikit-tablet: 1200px

/*
 * Background
 */

.uk-background-light
	background-color: #f8f8f8

/*
 * Border
 */

.uk-border-none
	border: none

.uk-border-bottom
	border-bottom: 1px solid #e5e5e5
	background: transparent

	&:hover,
	&:active,
	&:focus
		background: transparent

/*
 * Box shadow
 */

.uk-box-shadow-remove
	box-shadow: none

/*
 * Card
 */

.uk-card-form
	border-bottom: 1px solid #d8eafc
	box-shadow: none
	padding: 0px 15px

.uk-card-form-like
	height: 40px

.uk-card-form-danger
	border-bottom: 1px solid #f0506e !important

.uk-card-error-message
	bottom: -24px
	left: 5px

/*
 * Form
 */

.uk-form-width-xmedium
	width: 350px

.uk-input,
.uk-select,
.uk-textarea
	&:disabled
		&.uk-disabled-remove
			background-color: inherit !important
			color: inherit !important
			border-color: inherit !important

/*
 * Padding
 */

.uk-padding-tiny
	padding: 5px !important

.uk-padding-tiny-top
	padding-top: 5px !important

.uk-padding-tiny-bottom
	padding-bottom: 5px !important

.uk-padding-tiny-left
	padding-left: 5px !important

.uk-padding-tiny-right
	padding-right: 5px !important

.uk-padding-tiny-vertical
	padding-top: 5px !important
	padding-bottom: 5px !important

.uk-padding-tiny-horizontal
	padding-left: 5px !important
	padding-right: 5px !important

.uk-padding-small-top
	padding-top: 15px !important

.uk-padding-small-bottom
	padding-bottom: 15px !important

.uk-padding-small-left
	padding-left: 15px !important

.uk-padding-small-right
	padding-right: 15px !important

.uk-padding-small-vertical
	padding-top: 15px !important
	padding-bottom: 15px !important

.uk-padding-small-horizontal
	padding-left: 15px !important
	padding-right: 15px !important

.uk-padding-top
	padding-top: 20px !important
	@media (min-width: $uikit-tablet)
		padding-top: 40px !important

.uk-padding-bottom
	padding-bottom: 20px !important
	@media (min-width: $uikit-tablet)
		padding-bottom: 40px !important

.uk-padding-left
	padding-left: 20px !important
	@media (min-width: $uikit-tablet)
		padding-left: 40px !important

.uk-padding-right
	padding-right: 20px !important
	@media (min-width: $uikit-tablet)
		padding-right: 40px !important

.uk-padding-vertical
	padding-top: 20px !important
	padding-bottom: 20px !important
	@media (min-width: $uikit-tablet)
		padding-top: 40px !important
		padding-bottom: 40px !important

.uk-padding-horizontal
	padding-left: 20px !important
	padding-right: 20px !important
	@media (min-width: $uikit-tablet)
		padding-left: 40px !important
		padding-right: 40px !important

.uk-padding-large-top
	padding-top: 30px !important
	@media (min-width: $uikit-tablet)
		padding-top: 70px !important

.uk-padding-large-bottom
	padding-bottom: 30px !important
	@media (min-width: $uikit-tablet)
		padding-bottom: 70px !important

.uk-padding-large-left
	padding-left: 30px !important
	@media (min-width: $uikit-tablet)
		padding-left: 70px !important

.uk-padding-large-right
	padding-right: 30px !important
	@media (min-width: $uikit-tablet)
		padding-right: 70px !important

.uk-padding-large-vertical
	padding-top: 30px !important
	padding-bottom: 30px !important
	@media (min-width: $uikit-tablet)
		padding-top: 70px !important
		padding-bottom: 70px !important

.uk-padding-large-horizontal
	padding-left: 30px !important
	padding-right: 30px !important
	@media (min-width: $uikit-tablet)
		padding-left: 70px !important
		padding-right: 70px !important

.uk-padding-remove-left
	padding-left: 0px !important

.uk-padding-remove-right
	padding-right: 0px !important
