.wrapper.navbar
	max-width: 800px
	display: flex
	box-shadow: $shadow-default
	position: fixed
	top: 3vh
	left: 50%
	transform: translateX(-50%)
	z-index: 999
	transition: .2s ease width, 1s 1s ease height
	background-color: $white
	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	@media(max-width: $breakpoint-tablet)
		top: 0
		left: 0
		background-color: transparent
		height: 85vh
		width: 0
		transform: translateX(0)
		box-shadow: inherit
		display: block



.navbar--item
	min-height: 50px
	display: flex
	align-item: center
	justify-content: center
	flex-flow: column wrap
	width: 20%
	position: relative
	border-right: 1px solid rgba($black, 0.1)
	transition: .365s ease all
	@media(min-width: $breakpoint-tablet)
		&:after
			content: ''
			position: absolute
			display: block
			bottom: 0
			left: 0
			height: 0px
			width: 100%
			background-color: $blue
			transition: .225s ease all
		&:hover:after
			width: 100%
			height: 2px
	&.link-cta
		left: 0%
		transform: translateX(0%)
		margin: 0
		cursor: pointer
		transition: .165s ease all
		font-size: 12px
		border: none
		&:hover
			background-color: $blue

	&:nth-of-type(6)
		border-right: none
		background-color: $blue
		user-select: none
		&:after
			background-color: $white
		&:before
			content: ''
			background-image: url('../../images/icons/white/right.svg')
			width: 24px
			height: 10px
			background-size: 24px 10px
			position: absolute
			top: 50%
			left: -50px
			transform: translateY(-50%) translateX(-50%)
			transition: .265s ease all
		&:hover
			a
				color: transparent
				padding-left: 20%
			&:before
				left: 50%
		a
			color: $white
			transition: .265s ease all
			overflow: hidden
	a
		color: $black
		min-height: 50px
		display: flex
		justify-content: center
		flex-flow: column wrap
		position: relative
		padding-left: 24px
		font-size: 12px
		width: 100%
	@media(min-width: $breakpoint-fluid)
		min-height: 60px
		a
			font-size: 16px

	@media(max-width: $breakpoint-tablet)
		opacity: 0
		transform: translateX(-300px)
		max-width: 250px
		width: auto
		height: 10vh
		border: none
		font-weight: 600
		display: block
		&.margin-top
			margin-top: 20vh
		&:nth-of-type(6)
			border-right: none
			background-color: transparent
			a
				color: $white

			&:hover
				a
					color: $white
					padding-left: 24px

				&:before
					left: -50px
		a
			font-size: 24px
			font-family: 'Poppins', sans-serif
			align-items: flex-start
			border: none
			padding-left: 24px
			text-align: left
			transition: .3s ease all
			color: $white
			&:hover, &:focus
				color: $black

	@media(max-width: $breakpoint-mobile)

		&.margin-top
			margin-top: 15vh


.navbar--logo
	img
		position: absolute
		left: 24px
		top: 53%
		width: 96px
		height: 43px
		transform: translateY(-50%)
		@media(min-width: $breakpoint-fluid)
			transform: translateY(-50%) scale(1.2)

	@media(max-width: $breakpoint-tablet)
		display: none




.menu--toggle
	position: absolute
	top: 24px
	left: 24px
	width: 48px
	height: 48px
	background-color: $blue
	border-radius: 100%
	box-shadow: $shadow-default
	position: relative
	background: url(../../../public/images/icons/white/menu.svg) no-repeat center
	background-size: 20px
	transition: .265s ease-out all
	&:after
		content: ''
		z-index: -1
		position: absolute
		top: 0
		left: 0
		display: block
		background-color: $blue
		width: 48px
		height: 48px
		transform: scale(0.98)
		border-radius: 100%
		transition: .465s ease-out all
	&.white-skin
		background: $white url(../../../public/images/icons/blue/menu.svg) no-repeat center
		background-size: 20px



.menu--bottom--infos
	position: absolute
	bottom: 0
	left: -300px
	opacity: 0
	transition: .465s ease all

	.contact
		margin-left: 24px
		a
			display: block
			font-size: 16px
			color: $white
			opacity: .65
			margin-top: 16px


	.lang
		margin-left: 24px
		.label-lang
			text-decoration: none
			border: 1px solid rgba($white, 0.15)
			max-width: 75px
			display: inline-block
			text-align: center
			color: rgba($white, 0.25)
			padding: 2px 5px
			border-radius: 2px
			transition: .265s ease all
			margin-top: 24px
			font-size: 16px
			&:nth-of-type(2)
				margin: 24px 3px 0 3px

			&.active, &.active:hover
				color: $blue
				border: 1px solid rgba($white, 0)
				background-color: $white

			&:hover
				color: rgba($white, 0.65)
				border: 1px solid rgba($white, 0.35)



.mobile--open
	width: 100vw !important
	.menu--toggle
		background: url(../../../public/images/icons/white/close.svg) no-repeat center
		background-size: 20px
		&:after
			transform: scale(50)
			transition: .765s ease all

	.navbar--item
		opacity: 1
		transform: translateX(0px)

	.menu--bottom--infos
		left: 0
		opacity: 1
