.ss-banner
	width: 100%
	position: relative
	height: 100px
	display: flex
	flex-flow: row wrap
	align-items: center
	background-image: url(../../images/banner/bgalt.png)
	background-size: cover
	background-position: 50% 20%
	background-repeat: no-repeat
	padding: 0 16px
	justify-content: space-between
	color: #FFFFFF
	z-index: 620
	&:hover
		&:after
			opacity: .4
			transition: .265s ease-out all


	@media(max-width: $breakpoint-tablet)
		justify-content: flex-end

	@media(min-width: $breakpoint-fluid)
		height: 112px

	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba($black, 1)
		opacity: 0
		transition: .265s ease-out all

	img
		height: 40px
		z-index: 615
		position: relative
		margin-top: 14px
		@media(max-width: $breakpoint-tablet)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			margin-top: 0
			height: 32px

	span
		color: black
		font-family: 'Poppins'
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		text-shadow: 0 0 20px rgba(black, .5)
		@media(max-width: $breakpoint-tablet)
			display: none


	.ss-button
		z-index: 610
		color: black
		width: 80px
		&:after
			content: ''
			background-image: url('../../images/icons/grey/right.svg')
			width: 24px
			height: 10px
			background-size: 24px 10px
			position: absolute
			top: 50%
			right: 20px
			transform: translateY(-50%) translateX(0%)
