.footer
	background-color: $cream
	padding: 48px 0
	position: relative
	clear: both
	.wrapper
		padding: 0 24px
		.col-xs-12
			display: flex
			flex-flow: row wrap
			justify-content: space-between
	@media(min-width: $breakpoint-fluid)
		padding: 96px 0
		.wrapper
			padding: 0 48px

	@media(max-width: $breakpoint-tablet)
		padding: 48px 0
		width: 100vw
		.wrapper
			padding: 0 24px

	&--column
		position: relative

		&__content
			margin-top: 64px
			margin-bottom: 32px
			@media(max-width: $breakpoint-tablet)
				margin-top: 32px
				margin-bottom: 16px

	.footer--logo
		img
			width: 96px
			height: 43px

	.label
		opacity: .3
		display: block
		margin-bottom: 8px


	.eshop-link
		width: 50%
		float: left

	.contact--item__cta
		display: block

	.socials
		position: relative
		cursor: pointer
		a
			margin: 0 3px
			position: relative
			img
				height: 24px

	a
		color: $black
		transition: .265s ease all
		&:hover
			color: $blue


	.label-lang
		text-decoration: none
		border: 1px solid rgba($black, 0.15)
		width: 25px
		display: inline-block
		text-align: center
		color: rgba($black, 0.25)
		padding: 0 3px
		border-radius: 2px
		transition: .265s ease all
		margin-top: 24px
		text-transform: lowercase
		&:nth-of-type(2)
			margin: 24px 3px 0 3px

		&.active, &.active:hover
			color: $white
			border: 1px solid rgba($black, 0)
			background-color: $blue

		&:hover
			color: rgba($black, 0.65)
			border: 1px solid rgba($black, 0.35)



	form
		display: flex
		position: relative
		.mc-field-group
			position: relative
		#mc_embed_signup_scroll
			position: relative
			display: flex
		#mce-EMAIL
			background-color: $white
			border: none
			padding: 8px 0 8px 8px
			flex-grow: 1
			max-width: 200px
			position: relative
			height: 38px
		.send
			position: relative
			background-color: $white
			height: 38px
			border-radius: 0
			input[type='submit']
				border: none
				background-color: transparent
				box-shadow: $shadow-default
				flex-grow: 1
				max-width: 130px
				color: $blue
				transition: .265s ease all
				position: relative
				z-index: 2
				height: 100%
				padding: 0 8px
				display: block
				border-radius: 0
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 0%
				height: 100%
				transition: .265s ease all
				display: block
				background-color: $blue
			&:hover
				input[type='submit']
					color: $white
				&:after
					width: 100%


		input:focus, input:active
			outline: none

		label
			position: absolute
			top: 50%
			left: 8px
			transform: translateY(-50%)
			opacity: .3
			transition: .265s ease all
			z-index: 10
			&.hide
				opacity: 0


