@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400|Poppins:600')

.slider
	@include textstyle('Poppins', 88px, -0.83px, auto)
	@media(max-width: $breakpoint-tablet)
		font-size: 40px
		z-index: 30
		text-shadow: 0 0 20px rgba($black, 0.2)

h1
	@include textstyle('Poppins', 32px, -0.32px, 48px)
	font-weight: 600
	@media(max-width: $breakpoint-tablet)
		font-size: 24px
		line-height: 30px
		letter-spacing: -0.2px


h2
	@include textstyle('Poppins', 24px, -0.25px, 34px)
	font-weight: 600
	@media(max-width: $breakpoint-tablet)
		font-size: 20px
		line-height: auto
		letter-spacing: -0.2px

h3
	@include textstyle('Poppins', 18px, -0.2px, 28px)
	font-weight: 600
	@media(max-width: $breakpoint-tablet)
		font-size: 16px
		line-height: auto
		letter-spacing: -0.2px



p, .default-txt
	@include textstyle('Roboto', 16px, 0, 22px)
	@media(max-width: $breakpoint-tablet)
		font-size: 15px
		letter-spacing: auto
	@media(min-width: $breakpoint-fluid)
		font-size: 18px
		line-height: 24px


a, button, input, textarea, label, .label, .buttons, .label-lang, .link-cta, input
	@include textstyle('Roboto', 14px, 0, 22px)
	text-decoration: none
	@media(min-width: $breakpoint-fluid)
		font-size: 16px
		line-height: 24px

.navbar--item
	font-weight: 300

