
button, a
	cursor: pointer

button
	border: none

.link-cta
	text-decoration: none
	color: white
	background-color: $blue
	width: 225px
	padding: 16px 16px
	position: relative
	transition: .05s ease color, 0s background-color
	z-index: 1
	box-shadow: $shadow-default
	overflow: hidden
	border-radius: 1px
	display: inline-block
	left: 50%
	transform: translateX(-50%)
	margin: 40px auto

	.txt
		position: relative
		transition: .265s ease all

	span
		position: absolute
		top: 50%
		transform: translateY(-50%)
		transition: .265s ease all
		&:after
			position: absolute
			top: 50%
			transform: translateY(-50%) translateX(-50%)

		&.before
			left: -40px
			&:after
				content: ''
				background-image: url('../../images/icons/blue/right.svg')
				width: 24px
				height: 10px
				background-size: 24px 10px

		&.after
			right: 40px
			&:after
				content: ''
				background-image: url('../../images/icons/white/right.svg')
				width: 24px
				height: 10px
				background-size: 24px 10px


	&:before
		content: ''
		display: block
		position: absolute
		top: -1%
		left: -1%
		width: 0%
		height: 103%
		background-color: white
		transition: .265s ease all
		z-index: -1


	&:hover
		color: $blue
		background-color: white
		transition: .05s ease color, 0s .2s background-color
		&:before
			width: 103%

		span.after
			right: -24px

		span.before
			left: 50%
			transform: translateX(-50%) translateY(-50%)

		.txt
			opacity: 0


	&:focus
		outline: none;

