// .form-error-container
// 	border: 1px solid transparent

// .form-error-container-danger
// 	border: 1px solid #f0506e !important




//input
.input-container
	position: relative
	width: 100%

.input-container_label
	position: absolute
	font-size: 14px
	color: rgba($black, 0.5)
	width: 100%
	height: 100%
	z-index: 999
	top: 0
	left: 0
	transition: .265s ease all
	user-select: none
	transform: translateY(0px)
	&:after
		content: ''
		position: absolute
		background-color: $blue
		width: 0%
		height: 2px
		display: block
		z-index: 999
		bottom: 45px
		transition: .265s ease all
		transform: translateY(2px)
	&:hover
		cursor: pointer
		color: rgba($black, 1)
	&.filled
		color: rgba($black, 0.5)
		font-size: 12px
		transform: translateY(-20px)
		&:after
			transform: translateY(20px)




.input-container_input
	border: none
	border-bottom: 1px solid rgba($black, 0.2)
	width: 100%
	font-size: 14px
	line-height: 16px
	padding-bottom: 5px
	transition: .265s ease all
	margin-bottom: 45px
	border-radius: 0
	&:active, &:focus
		outline: none
		~ .input-container_label
			transform: translateY(-20px)
			font-size: 12px
			color: rgba($black, 0.5)
			&:after
				width: 101%
				transform: translateY(20px)

	&.require
		border-bottom: 1px solid rgba(red, 1)



.input-container_required
	position: absolute
	top: 0px
	right: 0
	font-size: 14px
	color: red
	opacity: 0
	transition: .265s ease all
	&.require
		opacity: 1





//textarea
.area-container
	position: relative
	width: 100%
	height: 100%
	@media(max-width: $breakpoint-mobile)
		margin-top: 32px


.area-container_label
	position: absolute
	top: 32px
	left: 32px
	opacity: .5
	font-size: 14px
	transition: .265s ease all
	&.filled
		transform: translateY(-10px)
		font-size: 12px
		color: rgba($black, 0.5)





.area-container_area
	border: 1px solid rgba($black, 0.2)
	height: 100%
	width: 100%
	font-size: 14px
	padding-bottom: 1vh
	transition: .265s ease all
	resize: none
	padding: 48px 32px 32px 32px
	box-sizing: border-box
	border-radius: 0
	&:active, &:focus
		outline: none
		border: 1px solid rgba($blue, 1)
		~ .area-container_label
			transform: translateY(-10px)
			font-size: 12px
			color: rgba($black, 0.5)


	&.require
		border: 1px solid rgba(red, 1)






.area-container_required
	position: absolute
	bottom: 32px
	left: 32px
	font-size: 14px
	color: red
	opacity: 0
	transition: .265s ease all
	&.require
		opacity: 1

