
//==============================================================================
//Grid==========================================================================
//==============================================================================


//args
$grid-columns: 			10
$wrapper-width: 		90vw
$margin-left-right: 	0
$margin-top-bottom: 	0
$padding-left-right: 	0
$padding-top-bottom: 	0

//do not touch
$column-padding: $padding-top-bottom $padding-left-right
$width-no-class: 100% - ($margin-left-right * 2)


//breakpoints
$breakpoints-list : 'only screen and (min-width: 10px)' 'only screen and (min-width: 768px)' 'only screen and (min-width: 1024px)' 'only screen and (min-width: 1200px)'

$breakpoints-name : xs s m l

%clearfix
	*zoom: 1
	&:before, &:after
		content: " "
		display: table
	&:after
		clear: both


*, *:after, *:before
	margin: 0
	padding: 0
	box-sizing: border-box


img
	width: auto
	// max-width: 100%
	height: auto


.wrapper
	width: $wrapper-width
	position: relative
	margin: 0 auto


.wrapper, .row
	@extend %clearfix


.wrapper, .row
	*zoom: 1


.wrapper:before, .row:before, .wrapper:after, .row:after
	content: " "
	display: table


.wrapper:after, .row:after
	clear: both


*, *:after, *:before
	margin: 0
	padding: 0
	box-sizing: border-box

.grid
	width: $width-no-class
	margin: $margin-top-bottom $margin-left-right
	float: left
	&[class*='col-']
		padding: 0
		min-height: 1px


@mixin generate-columns($sizeName, $breakPointSize)
	@media #{$breakPointSize}
		@for $i from 1 through $grid-columns
			.col-#{$sizeName}-#{$i}
				width: 100% / $grid-columns * $i - $margin-left-right * 2
				margin: $margin-top-bottom $margin-left-right

		@for $i from 1 through $grid-columns
			.off-#{$sizeName}-#{$i}
				margin-left: 100% / $grid-columns * $i
				padding: $column-padding

		.hide-#{$sizeName}
			display: none
			margin: 0
			padding: 0
			width: 0
			height: 0
			position: absolute
			left: 3000vw



@for $j from 1 through length($breakpoints-name)
	@include generate-columns(nth($breakpoints-name, $j), nth($breakpoints-list, $j))




//==============================================================================
//Blocks========================================================================
//==============================================================================

.wrapper--fluid
	width: calc(100vw - 12px)
	@media(max-width: $breakpoint-tablet)
		width: 100vw


.block
	display: flex
	@extend .grid
	@extend .col-xs-10
	@extend .col-s-5
	transition: .265s ease all
	&:hover
		box-shadow: $shadow-default
		z-index: 90


.block-default
	.block:nth-child(odd)
		transform: translateY(-80px)
		@media(max-width: $breakpoint-tablet)
			transform: translateY(0)


.block-inverted
	.block:nth-child(even)
		transform: translateY(-80px)
		@media(max-width: $breakpoint-tablet)
			transform: translateY(0)
.wrapper
	max-width: 800px
	@media(min-width: $breakpoint-widescreen)
		max-width: 1160px






.block--flex
	display: flex
	flex-flow: column wrap
	position: relative
	@extend .wrapper
	max-width: 800px
	@media(min-width: $breakpoint-fluid)
		max-width: 1160px

	.block
		display: flex
		flex-flow: column wrap
		background-color: $white
		&:hover
			box-shadow: inherit
			z-index: 0


		@media(min-width: $breakpoint-tablet)
			&:first-child
				z-index: 90
				padding: 40px 60px 0 60px
				height: 335px
				position: relative

				&:after
					content: ''
					box-shadow: $shadow-default
					display: block
					height: 495px
					width: 100%
					top: 0
					left: 0
					position: absolute

			&:nth-child(2)
				height: 495px
				position: absolute
				right: 0
				top: 0


			&:last-child
				height: 160px
				z-index: 991
				justify-content: flex-start
				align-content: center
				align-item: center
				.button
					margin: 0 auto
					left: 0
					transform: translateX(0)
					text-align: left
					&:hover
						.txt
							transform: translateX(80px)
				#g-recaptcha
					transform: scale(0.75)
					margin: 0 auto


		@media(max-width: $breakpoint-mobile)
			&:nth-child(2)
				height: 300px
			&:last-child
				margin-top: 70px

				.button
					margin: 20px auto
					left: 0
					transform: translateX(0)
					text-align: left
					&:hover
						.txt
							transform: translateX(80px)
				#g-recaptcha
					transform: scale(0.75) translateX(-5px)
					margin: 0 auto

		@media(min-width: $breakpoint-fluid)
			&:first-child
				height: 395px
				padding: 60px 80px 0 80px
				&:after
					height: 555px
